.app {
  width: 100%;
  height: 100vh;
  background: $main-background-color;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  position: relative;
  padding: 30px;
  border-radius: 25px;
  width: 600px;
  background: white;
  z-index: 1;
  box-shadow: 3px 5px 8px 1px #afc8fe;

}

.expires-date {
  @extend .flex;
  @extend .flex--center;
}
