.card-number {
  @extend .flex;
  padding: 10px 0px 10px 60px;
  margin: 10px auto;
  @extend .common-transition;  
  background: transparent;
  overflow: hidden;

  &--focused {
    @extend .focused;
  }

  .card-number__item {
    @extend .card__item;
    width: 16px;
    display: inline-block;
    @extend .common-transition;  

    &--break {
      margin-right: 30px;
    }
    
    &--hide {
        -webkit-animation-name: showFromUp; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
        animation-name: showFromUp;
        animation-duration: .8s;
    }
  }
}

@keyframes showFromUp {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
