.card-owner {
  position: relative;
  @extend .flex;
  @extend .flex--column;
  padding: 10px 20px;

  @extend .common-transition;  
  background: transparent;
  overflow: hidden;

  &--focused {
    @extend .focused;
  }
  .card-owner__item {
    @extend .card__item;
    @extend .common-transition;  

    &--break {
      margin-right: 30px;
    }
    
    &--hide {
        -webkit-animation-name: showFromLeft; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
        animation-name: showFromLeft;
        animation-duration: .8s;
    }
  }

  .card-owner__placeholder {
    color: white;
    padding-bottom: 3px;
  }

  .card-owner__name-container {
    display: flex;
  }
  .card-owner__break {
    margin-right: 10px;
  }

  .card-owner__item {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

@keyframes showFromLeft {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
