.card {
  width: 430px;
  height: 270px;
  border-radius: 15px;
  position: relative;
  z-index: 2;

  .card-back__logo {
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 60px;
    width: 100px;
  }

  .card__top {
    display: flex;
    flex-direction: row;

    .top-logo {
      flex-grow: 1;
      height: 50px;

      &--amex {
        margin-left: 50%;
      }
      &--visa {
        margin-left: 70%;
      }
      &--discover {
        margin-left: 50%;
      }
      &--mastercard {
        margin-left: 70%;
      }
      &--dinnersclub {
        margin-left: 50%;
      }
      &--troy {
        margin-left: 60%;
      }
      &--unionpay {
        margin-left: 70%;
      }
    }
  }

  .card__content {
    position: absolute;
  }
  .card__content--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .card__content--bottom-left {
    bottom: 10%;
    left: 5%;
  }

  .card__content--bottom-right {
    bottom: 10%;
    right: 5%;
  }

  .card__content--back-logo {
    bottom: 30%;
    right: 0%;
  }

  &__chip {
    background-size: cover;
    height: 45px;
    width: 55px;
  }

  &__logo {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
  }

  &__back,
  &__front {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    border-radius: 15px;
    padding: 20px;
  }
  &__front {
    transform: perspective(600px) rotateX(0deg);
    background-size: cover;

    &--flipped {
      transform: perspective(600px) rotateX(-180deg);
    }
  }

  &__back {
    transform: perspective(600px) rotateX(180deg);

    &--flipped {
      transform: perspective(600px) rotateX(0deg);
    }
  }
}