.ccv {
  height: 50px;
  width: 100%;
  background: black;
  @extend .flex;
  @extend .flex--center;
  @extend .flex--column;
  @extend .common-transition;

  &--focused {
    @extend .focused;
  }

  &__number {
    color: white;
    margin-right: 50px;
  }
}
