.card-expires {
  @extend .flex;
  @extend .flex--column;
  padding: 10px 20px;
  transition: all 0.6s;

  &--focused {
    @extend .focused;
  }

  .card-expired__date {
    @extend .flex;
  }

  .card-expires__item {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0 3px;
  }

  .card-expires__placeholder {
    color: white;
    padding-bottom: 3px;
  }
}
