.common-transition {
  transition: all 0.25s ease-in-out;
}

.focused {
    border: 2px solid white;
    border-radius: 15px;    
    background: #5b5d8eab !important;
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--center {
    align-items: flex-end;
    justify-content: center;    
  }
}

.card__item {
  color: white;
  font-size: 24px;
  font-weight: 700;  
}